# mod_proxy_balancer should be disabled when mod_cluster is used
LoadModule proxy_cluster_module modules/mod_proxy_cluster.so
LoadModule cluster_slotmem_module modules/mod_cluster_slotmem.so
LoadModule manager_module modules/mod_manager.so
LoadModule advertise_module modules/mod_advertise.so

MemManagerFile {{ Jboss_Home }}/jws/httpd/cache/mod_cluster

Listen {{ JWS_IP }}:{{ JWS_PORT }}
Maxnode 40
Maxhost	20
<IfModule manager_module>
	<VirtualHost {{ JWS_IP }}:{{ JWS_PORT }}>
	    <Directory />
        	Require ip 192.168.1. 192.168.6. 192.168.74.77 172.16. 192.168.11. 10.100.
	    </Directory>
	    <Location /mod_cluster_manager>
		SetHandler mod_cluster-manager
                Require ip 192.168.1. 192.168.6. 192.168.74.77 172.16. 192.168.11. 10.100.
	    
       </Location>
	    <Location /server_status>
		SetHandler server-status
                Require ip 192.168.1. 192.168.6. 192.168.74.77 172.16. 192.168.11. 10.100.
	    </Location>
    
	    KeepAliveTimeout 60
	    MaxKeepAliveRequests 0
	    ServerAdvertise Off
	    EnableMCPMReceive On
	    AllowDisplay On
	    CreateBalancers 1
	</VirtualHost>
</IfModule>
